body {
  background: white;
  background: radial-gradient(circle, white, #d3d3d3)
}

#placeholdertext {
  font-family: "Verdana", Verdana, sans-serif;
  font-size: 5vh;
  text-align: center;
  margin-top: 2vh;
}

#heart {
  color: #FF007F;
}
